<!DOCTYPE html>
<html lang="en">
  <% include partials/head.ejs %>

<body>
  <main class="main">

    <section class="error">
      <h1 class="error-title">404 - Page not found</h1>
      <img class="err" src="/img/404.png" alt="">
      <ul>
        <li><a class="btn error-home" href="/home">go home</a></li>
        <li><p class="error-text">or...</p></li>
        <li><a class="btn error-search" href="/search">start searching</a></li>
      </ul>
    </section>

  </main>

  <% include partials/main-nav.ejs %>

  <% include partials/tail.ejs %>

</body>
</html>
