<!DOCTYPE html>
<html lang="en" class="body-backgr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Login</title>
</head>
<body>
  <main class="login-main">
    <form class="login-form" action="/home" method="post">
      <img class="logo" src="/img/liner-full-logo.png" alt="">

      <!-- <a class="btn btn-login" href="http://linernotez.herokuapp.com/spotify/login">Login with Spotify</a> -->
      <a class="btn btn-login" href="http://localhost:3000/spotify/login">Login with Spotify</a>
    </form>
  </main>

  <% include partials/tail.ejs %>

</body>
</html>
