<!DOCTYPE html>
<html lang="en">
  <% include partials/head.ejs %>

<body class="body-backgr">
  <main class="main">

    <% include partials/following.ejs %>

    <h2 class="feed-title">Most recent</h2>

    <div class="zero-state">
      <h2 class="start-title">There are no recent posts</h2>

      <h3 class="start-subtitle">Start by following your favorite artists</h3>

      <svg class="arrow" height='100px' width='100px'  fill="#444" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"><g><path d="M83.438,87.306c-0.011,0-0.021,0-0.032,0c-0.436-0.014-43.563-1.777-43.264-37.508c0.103-12.167-2.806-20.999-8.642-26.251   c-6.598-5.937-14.701-5.09-14.783-5.081c-0.556,0.061-1.045-0.333-1.106-0.88c-0.063-0.549,0.331-1.044,0.88-1.107   c0.368-0.042,9.087-0.954,16.348,5.582c6.28,5.652,9.411,14.99,9.304,27.754c-0.118,14.131,6.743,24.391,20.394,30.493   c10.312,4.61,20.828,4.996,20.933,4.999c0.552,0.018,0.985,0.479,0.968,1.031C84.42,86.878,83.976,87.306,83.438,87.306z"></path></g><g><path d="M22.938,26.694c-0.3,0-0.597-0.134-0.793-0.39l-6.333-8.222c-0.335-0.434-0.258-1.057,0.173-1.396l7.333-5.778   c0.435-0.341,1.063-0.266,1.404,0.167c0.342,0.434,0.268,1.063-0.166,1.405L18,17.646l5.729,7.438   c0.337,0.438,0.256,1.065-0.182,1.402C23.366,26.626,23.151,26.694,22.938,26.694z"></path></g></svg>
    </div>

  </main>

  <% include partials/main-nav.ejs %>

  <% include partials/tail.ejs %>

</body>
</html>
