<!DOCTYPE html>
<html lang="en">
  <% include partials/head.ejs %>

<body>
  <main class="main">

    <% include partials/following.ejs %>



    <h2 class="feed-title">Most recent</h2>

    <div class="zero-state">
      <h2 class="start-title">There are no recent posts (yet)</h2>

      <h2 class="start-subtitle">Start by following your favorite artists. Watch their online developments.</h2>
    </div>

  </main>

  <% include partials/main-nav.ejs %>

  <% include partials/tail.ejs %>

</body>
</html>
