<!DOCTYPE html>
<html lang="en">
  <% include partials/head.ejs %>

<body>
  <main class="main">

    <section class="error">
      <h1 class="error-title">Internet has been disconnected...</h1>
      <img class="offline" src="/img/offline.png" alt="">
    </section>

  </main>

  <% include partials/main-nav.ejs %>

  <% include partials/tail.ejs %>

</body>
</html>
