<!DOCTYPE html>
<html lang="en">

<% include partials/head.ejs %>

<body>
  <header class="profile-header">
    <h1 class="title">Profiel</h1>
  </header>

  <main class="profile-main">
    <div class="rows">
      <ul>
        <li class="item">Profiel instellingen</li>
        <li class="item">Content</li>
        <li class="item">Artiesten</li>
        <li class="item">Favorieten</li>
      </ul>
    </div>
    <div class="recent">
      <h2 class="recent-title">Recent</h2>
      <ul>
        <li class="item">
          <div class="item-container">
            <img class="img" src="/img/placeholder.png" alt="">
            <h4 class="recent-name">Artiest naam</h4>
          </div>
        </li>
        <li class="item">
          <div class="item-container">
            <img class="img" src="/img/placeholder.png" alt="">
            <h4 class="recent-name">Artiest naam</h4>
          </div>
        </li>
        <li class="item">
          <div class="item-container">
            <img class="img" src="/img/placeholder.png" alt="">
            <h4 class="recent-name">Artiest naam</h4>
          </div>
        </li>
        <li class="item">
          <div class="item-container">
            <img class="img" src="/img/placeholder.png" alt="">
            <h4 class="recent-name">Artiest naam</h4>
          </div>
        </li><li class="item">
          <div class="item-container">
            <img class="img" src="/img/placeholder.png" alt="">
            <h4 class="recent-name">Artiest naam</h4>
          </div>
        </li>
        <li class="item">
          <div class="item-container">
            <img class="img" src="/img/placeholder.png" alt="">
            <h4 class="recent-name">Artiest naam</h4>
          </div>
        </li>
      </ul>
    </div>
  </main>

  <% include partials/main-nav.ejs %>
  <% include partials/tail.ejs %>

</body>
</html>
