<div class="following-list">
    <h2 class="title-left">Following</h2>

    <div class="following">
      <a class="following-new" href="/search">
        <div class="following-container">
            <p class="add">+</p>
        </div>
        <h3 class="following-name">get started</h3>
      </a>

      <!-- <a class="following-item" href="/search">
        <div class="following-container">
            <img class="following-img">+</img>
        </div>
        <h3 class="following-name">get started</h3>
      </a> -->
    </div>
</div>
