<ul class="related-list">
  <% related.artists.forEach((artist)=> { %>
    <li class="related-item">
      <a href="/artist/<%= artist.id %>">
        <% if (artist.images.length > 0) { %>
          <img class="related-item-img" src="<%= artist.images[0].url %>">
        <%} else { %>
          <img class="related-item-img" src="<%= artist.images.url %>">
        <% } %>
        <h4 class="related-item-name"><%= artist.name %></h4>
      </a>
    </li>
  <% }) %>
</ul>
