<!DOCTYPE html>
<html lang="en">
  <% include partials/head.ejs %>

<body>
  <main class="main">

    <section>
      <h1>Internet has been disconnected...</h1>
    </section>

  </main>

  <% include partials/main-nav.ejs %>

  <% include partials/tail.ejs %>

</body>
</html>
