<form class="search-bar" action="/search" method="POST">
  <input id="search" name="search" type="text" placeholder="search artist name">
  <button class="btn btn-save" type="submit">Search</button>
</form>
