<form name="form" class="search-bar" action="/search" method="POST">
  <a href="/home">
    <svg class="back2" height='100px' width='100px'  fill="#FFFFFF" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve"><g><path d="M60.7246094,72.9492188c-0.3837891,0-0.7675781-0.1464844-1.0605469-0.4394531L38.2148438,51.0605469   c-0.5859375-0.5859375-0.5859375-1.5351562,0-2.1210938l21.4492188-21.4492188   c0.5859375-0.5859375,1.5351562-0.5859375,2.1210938,0s0.5859375,1.5351562,0,2.1210938L41.3964844,50l20.3886719,20.3886719   c0.5859375,0.5859375,0.5859375,1.5351562,0,2.1210938C61.4921875,72.8027344,61.1083984,72.9492188,60.7246094,72.9492188z"></path></g></svg>
  </a>
  <input id="search" name="search" type="text" placeholder="search artist name...">
  <button id="submit" class="btn btn-save" type="submit">search</button>
</form>
