<div class="section">
  <section class="el">
    
    <h3 class="">Naam</h3>
    <p class="tag">@tag</p>
    <p>bla bal bla</p>

    <ul class="section-list">
      <li class="tag section-list-item">1234 likes</li>
      <li class="tag section-list-item">17 apr 2019</li>
    </ul>

    <img src="/img/placeholder.png" alt="">

    <ul class="section-list">
      <li class="tag">1234 praten hier over</li>
      <li class="tag">></li>
    </ul>

  </section>
</div>
